<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<ul class="nav nav-tabs nav-justified tabs">
			<li class="tab"><a class="nav-link"
				[ngClass]="{'active':activeTab==1}">1</a></li>
			<li class="tab"><a class="nav-link"
				[ngClass]="{'active':activeTab==2}">2</a></li>
			<li class="tab"><a class="nav-link"
				[ngClass]="{'active':activeTab==3}">3</a></li>
			<li class="tab"><a class="nav-link"
				[ngClass]="{'active':activeTab==4}">4</a></li>
			<li class="tab"><a class="nav-link"
				[ngClass]="{'active':activeTab==5}">5</a></li>

		</ul>
	</div>
</nav>
<div class="container">
	<div class="row">
		<div class="col-12">
			<app-insurance-policy-form [hidden]="activeTab !=='1'"
				[price]="policyPrice" (onFormSubmit)="onSubmit($event)"
				(calculatePrice)="calculateInsurancePolicyPrice($event)"
				(nextTab)="nextTab($event)"></app-insurance-policy-form>
		</div>


		<div class="col-12">
			<app-insurance-policy-person [age]="age"
				[hidden]="activeTab !=='2'" (nextTab)="nextTab($event)" (personsChanged)="personsChanged($event)"></app-insurance-policy-person>
		</div>

		<div class="col-12">
			<app-insurance-policy-home-car
				[insurancePolicyCar]="insurancePolicyCar"
				(insurancePolicyCarChanged)="insurancePolicyCarChanged($event)"
				[hidden]="activeTab !=='3'"
				[insurancePolicyHome]="insurancePolicyHome"
				(insurancePolicyHomeChanged)="insurancePolicyHomeChanged($event)"
				[carInsurancePrice]="carInsurancePrice"
				(calculatePriceCar)="calculateCarInsurancePrice($event)"
				[homeInsurancePrice]="homeInsurancePrice"
				(calculatePriceHome)="calculateHomeInsurancePrice($event)"
				(nextTab)="nextTab($event)"></app-insurance-policy-home-car>
		</div>
		<div class="col-12">
			<app-insurance-policy-checkout [hidden]="activeTab !='4'"
				(nextTab)="nextTab($event)"
				[persons]="persons"
				[checkout]="checkout"></app-insurance-policy-checkout>
		</div>
		<div class="col-12">
			<app-insurance-policy-pin [hidden]="activeTab !=='5'"></app-insurance-policy-pin>
		</div>
	</div>
</div>