<div class="leftMargin rightMargin">
    <div class="borderDiv">
        <h4>{{ title }}</h4>
        <form materialize [formGroup]="categoryFactorForm" (ngSubmit)="this.categoryFactorComponent.save()">
            <div class="form-group row">
                <input id="id" type="hidden" class="form-control validate"
                        [(ngModel)]="this.categoryFactorComponent.categoryFactor" formControlName="id">
                <span class="input input--hoshi">
                    <input class="input__field input__field--hoshi" type="text" id="name" formControlName="name"
                        [(ngModel)]="this.categoryFactorComponent.categoryFactor.name">
                    <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="name">
                        <span class="input__label-content input__label-content--hoshi">Name</span>
                    </label>
                </span>
            </div>
            <div class="row">
                <div class="col-sm-12 buttons">
                    <button class="btn fa fa-check floatRight" type="submit"
                        [disabled]="!categoryFactorForm.valid" title="Save item">
                    </button>
                    <button class="btn fa fa-plus floatRight" (click)="this.resetForm()" title="Reset form">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

