.car-button{
	height: 100px !important;
	width:255px;
}

.vertical{
	padding-top:20% !important;
}

.fixed-left{
	position:fixed;
	bottom:20px;
	left:270px;
}

.fixed-right{
	position:fixed;
	bottom:20px;
	right:20px;
}
