<div class="row">
	<div class="col-4 offset-2 vertical" [hidden]="activeForm">
		<button class="btn car-button" (click)="showForm('2')">Kupovina
			osiguranja automobila</button>
	</div>

	<div class="col-4 vertical" [hidden]="activeForm">
		<button class="btn btn default car-button" (click)="showForm('1')">Kupovina
			osiguranja kuce</button>
	</div>

	<div class="col-12">
		<app-insurance-policy-car-form
			[insurancePolicyCar]="insurancePolicyCar" [price]="carInsurancePrice"
			(calculatePrice)="calculatePriceCarInsurance($event)"
			(setInsurancePolicyCar)="setInsurancePolicyCar($event)"
			(hideForm)="showForm($event)" [hidden]="activeForm != '2'"></app-insurance-policy-car-form>
	</div>
	<div class="col-12">
		<app-insurance-policy-home-form
			[insurancePolicyHome]="insurancePolicyHome"
			[price]="homeInsurancePrice"
			(calculatePrice)="calculatePriceHomeInsurance($event)"
			(setInsurancePolicyHome)="setInsurancePolicyHome($event)"
			(hideForm)="showForm($event)" [hidden]="activeForm != '1'"></app-insurance-policy-home-form>
	</div>

	<div class="col-12">
		<button class="btn float-left" (click)="changeTab('2')"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>

		<button class="btn float-right" (click)="changeTab('4')"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
	</div>
</div>

