<div class="row leftMargin rightMargin">
    <div class="col-sm-4 borderDiv">
        <h4>{{ title }}</h4>
        <form materialize class="col s12" [formGroup]="factorForm" (ngSubmit)="save()">
            <div class="form-group row">
                <input id="id" type="hidden" class="form-control validate"
                        [(ngModel)]="factor.id" formControlName="id">
                <div class="form-group col-sm-12">
                    <label for="name"
                        [class.active]="factor.name"
                        data-error="Name is required and needs to contain at least 3 chars"> Name
                    </label>
                    <input id="name" type="text" class="form-control validate"
                        [(ngModel)]="factor.name" formControlName="name"
                        [class.invalid]="factorForm.controls['name'].touched && !factorForm.controls['name'].valid">
                </div>
                <div class="form-group col-sm-12">
                    <label for="category"
                        [class.active]="factor.category"
                        data-error="Category is required"> Category
                    </label>
                    <select [(ngModel)]="factor.category" id="category" class="form-control validate" formControlName="category">
                        <option *ngFor="let c of categories" [ngValue]="c.id">{{c.name}}</option>

                        [class.invalid]="factorForm.controls['category'].touched && !factorForm.controls['category'].valid">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn fa fa-plus floatRight" type="submit"
                        [disabled]="!factorForm.valid">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

