<div class="form-title">Osiguranje automobila</div>
<form [formGroup]="insurancePolicyCarForm"
	(ngSubmit)="set(insurancePolicyCarForm.value)">
	<div class="mini-title">PAKETI</div>
	<div class="border-paketi"></div>
	<div class="paketi">
		<div class="form-group row">
			<label for="slepovanje" class="col-4">Šlepovanje do odredjene
				kilometraže:</label>
			<div class="col-5">
				<select id="slepovanje" class="form-control"
					formControlName="slepovanje"
					[ngClass]="{'is-invalid':(!insurancePolicyCarForm.controls['smestaj'].pristine || !insurancePolicyCarForm.controls['prevoz'].pristine
						 	|| !insurancePolicyCarForm.controls['popravka'].pristine || !insurancePolicyCarForm.controls['slepovanje'].pristine)
						&& insurancePolicyCarForm.controls['smestaj'].value == ''
						&& insurancePolicyCarForm.controls['popravka'].value == ''
						&& insurancePolicyCarForm.controls['prevoz'].value == ''
						&& insurancePolicyCarForm.controls['slepovanje'].value == ''}">
					<option value=''>Izaberite paket</option>
					<option *ngFor="let t of slepovanje_list" value="{{t.id}}">{{t.name}}</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label for="popravka" class="col-4">Popravka do odredjene
				cene:</label>
			<div class="col-5">
				<select id="popravka" class="form-control"
					formControlName="popravka"
					[ngClass]="{'is-invalid':(!insurancePolicyCarForm.controls['smestaj'].pristine || !insurancePolicyCarForm.controls['prevoz'].pristine
					 	|| !insurancePolicyCarForm.controls['popravka'].pristine || !insurancePolicyCarForm.controls['slepovanje'].pristine)
					&& insurancePolicyCarForm.controls['smestaj'].value == ''
					&& insurancePolicyCarForm.controls['popravka'].value == ''
					&& insurancePolicyCarForm.controls['prevoz'].value == ''
					&& insurancePolicyCarForm.controls['slepovanje'].value == ''}">
					<option value=''>Izaberite paket</option>
					<option *ngFor="let t of popravka_list" value="{{t.id}}">{{t.name}}</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label for="smestaj" class="col-4">Smeštaj do odredjenog
				broja dana:</label>
			<div class="col-5">
				<select id="smestaj" class="form-control" formControlName="smestaj"
					[ngClass]="{'is-invalid':(!insurancePolicyCarForm.controls['smestaj'].pristine || !insurancePolicyCarForm.controls['prevoz'].pristine
					 	|| !insurancePolicyCarForm.controls['popravka'].pristine || !insurancePolicyCarForm.controls['slepovanje'].pristine)
					&& insurancePolicyCarForm.controls['smestaj'].value == ''
					&& insurancePolicyCarForm.controls['popravka'].value == ''
					&& insurancePolicyCarForm.controls['prevoz'].value == ''
					&& insurancePolicyCarForm.controls['slepovanje'].value == ''}">
					<option value=''>Izaberite paket</option>
					<option *ngFor="let t of smestaj_list" value="{{t.id}}">{{t.name}}</option>
				</select>
			</div>
		</div>
		<div class="form-group row last-paket">
			<label for="prevoz" class="col-4">Prevoz do odredjenog broja
				kilometara:</label>
			<div class="col-5">
				<select id="prevoz" class="form-control" formControlName="prevoz"
					[ngClass]="{'is-invalid':(!insurancePolicyCarForm.controls['smestaj'].pristine || !insurancePolicyCarForm.controls['prevoz'].pristine
					 	|| !insurancePolicyCarForm.controls['popravka'].pristine || !insurancePolicyCarForm.controls['slepovanje'].pristine)
					&& insurancePolicyCarForm.controls['smestaj'].value == ''
					&& insurancePolicyCarForm.controls['popravka'].value == ''
					&& insurancePolicyCarForm.controls['prevoz'].value == ''
					&& insurancePolicyCarForm.controls['slepovanje'].value == ''}">
					<option value=''>Izaberite paket</option>
					<option *ngFor="let t of prevoz_list" value="{{t.id}}">{{t.name}}</option>
				</select>
			</div>
			<div
				*ngIf="(!insurancePolicyCarForm.controls['smestaj'].pristine || !insurancePolicyCarForm.controls['prevoz'].pristine
				 	|| !insurancePolicyCarForm.controls['popravka'].pristine || !insurancePolicyCarForm.controls['slepovanje'].pristine)
				&& insurancePolicyCarForm.controls['smestaj'].value == ''
				&& insurancePolicyCarForm.controls['popravka'].value == ''
				&& insurancePolicyCarForm.controls['prevoz'].value == ''
				&& insurancePolicyCarForm.controls['slepovanje'].value == '' "
				class="invalid-feedback col-5 offset-4">

				<div>Morate izabrati neki od ponudjenih paketa.</div>
			</div>
		</div>
	</div>
	<div class="border-paketi-bottom"></div>
	<div class="form-group row">
		<label for="duration" class="col-4">Trajanje osiguranja:</label>
		<div class="col-5">
			<input id="duration" type="text" class="form-control"
				formControlName="duration"
				[ngClass]="{'is-invalid':insurancePolicyCarForm.controls['duration'].errors && !insurancePolicyCarForm.controls['duration'].pristine}">

		</div>
		<div
			*ngIf="insurancePolicyCarForm.controls['duration'].errors && !insurancePolicyCarForm.controls['duration'].pristine"
			class="invalid-feedback col-5 offset-4">

			<div
				*ngIf="insurancePolicyCarForm.controls['duration'].errors.required">Morate
				uneti dužinu trajanja osiguranja.</div>
			<div
				*ngIf="insurancePolicyCarForm.controls['duration'].errors.pattern">Morate
				uneti ceo broj veći od 0.</div>
		</div>
	</div>
	<div class="form-group row">
		<label for="typeOfVehicle" class="col-4">Tip vozila:</label>
		<div class="col-5">
			<select id="typeOfVehicle" class="form-control"
				formControlName="typeOfVehicle"
				[ngClass]="{'is-invalid':insurancePolicyCarForm.controls['typeOfVehicle'].errors && !insurancePolicyCarForm.controls['typeOfVehicle'].pristine}">

				<option value="">Izaberite tip vozila</option>
				<option value="1">Teretno vozilo</option>
				<option value="2">Priključno vozila</option>
				<option value="3">Putničko vozilo</option>
				<option value="4">Ostala vozila</option>
			</select>
		</div>
		<div
			*ngIf="insurancePolicyCarForm.controls['typeOfVehicle'].errors && !insurancePolicyCarForm.controls['typeOfVehicle'].pristine"
			class="invalid-feedback col-5 offset-4">

			<div
				*ngIf="insurancePolicyCarForm.controls['typeOfVehicle'].errors.required">Morate
				izabrati tip vozila.</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="vehicle" class="col-4">Marka vozila:</label>
		<div class="col-5">
			<input id="vehicle" type="text" class="form-control"
				formControlName="vehicle"
				[ngClass]="{'is-invalid':insurancePolicyCarForm.controls['vehicle'].errors && !insurancePolicyCarForm.controls['vehicle'].pristine}">

		</div>
		<div
			*ngIf="insurancePolicyCarForm.controls['vehicle'].errors && !insurancePolicyCarForm.controls['vehicle'].pristine"
			class="invalid-feedback col-5 offset-4">

			<div
				*ngIf="insurancePolicyCarForm.controls['vehicle'].errors.required">Morate
				uneti marku vozila.</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="year" class="col-4">Godište automobila:</label>
		<div class="col-5">
			<input id="year" type="text" class="form-control"
				formControlName="year"
				[ngClass]="{'is-invalid':insurancePolicyCarForm.controls['year'].errors && !insurancePolicyCarForm.controls['year'].pristine}">

		</div>
		<div
			*ngIf="insurancePolicyCarForm.controls['year'].errors && !insurancePolicyCarForm.controls['year'].pristine"
			class="invalid-feedback col-5 offset-4">

			<div *ngIf="insurancePolicyCarForm.controls['year'].errors.required">Morate
				uneti godište automobila.</div>
			<div *ngIf="insurancePolicyCarForm.controls['year'].errors.pattern">Unesite
				godiunu(npr. 2016).</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="registrationNumber" class="col-4">Broj registarske
			oznake automobila:</label>
		<div class="col-5">
			<input id="registrationNumber" type="text" class="form-control"
				formControlName="registrationNumber"
				[ngClass]="{'is-invalid':insurancePolicyCarForm.controls['registrationNumber'].errors && !insurancePolicyCarForm.controls['registrationNumber'].pristine}">

		</div>
		<div
			*ngIf="insurancePolicyCarForm.controls['registrationNumber'].errors && !insurancePolicyCarForm.controls['registrationNumber'].pristine"
			class="invalid-feedback col-5 offset-4">

			<div
				*ngIf="insurancePolicyCarForm.controls['registrationNumber'].errors.required">Morate
				uneti broj registarske oznake automobila.</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="chassisNumber" class="col-4">Broj šasije:</label>
		<div class="col-5">
			<input id="chassisNumber" type="text" class="form-control"
				formControlName="chassisNumber"
				[ngClass]="{'is-invalid':insurancePolicyCarForm.controls['chassisNumber'].errors && !insurancePolicyCarForm.controls['chassisNumber'].pristine}">

		</div>
		<div
			*ngIf="insurancePolicyCarForm.controls['chassisNumber'].errors && !insurancePolicyCarForm.controls['chassisNumber'].pristine"
			class="invalid-feedback col-5 offset-4">

			<div
				*ngIf="insurancePolicyCarForm.controls['chassisNumber'].errors.required">Morate
				uneti broj šasije.</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="firstName" class="col-4">Ime vlasnika:</label>
		<div class="col-5">
			<input id="firstName" type="text" class="form-control"
				formControlName="firstName"
				[ngClass]="{'is-invalid':insurancePolicyCarForm.controls['firstName'].errors && !insurancePolicyCarForm.controls['firstName'].pristine}">

		</div>
		<div
			*ngIf="insurancePolicyCarForm.controls['firstName'].errors && !insurancePolicyCarForm.controls['firstName'].pristine"
			class="invalid-feedback col-5 offset-4">

			<div
				*ngIf="insurancePolicyCarForm.controls['firstName'].errors.required">Morate
				uneti ime.</div>
			<div
				*ngIf="insurancePolicyCarForm.controls['firstName'].errors.minlength">Prekratko
				ime.</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="lastName" class="col-4">Prezime vlasnika:</label>
		<div class="col-5">
			<input id="lastName" type="text" class="form-control"
				formControlName="lastName"
				[ngClass]="{'is-invalid':insurancePolicyCarForm.controls['lastName'].errors && !insurancePolicyCarForm.controls['lastName'].pristine}">
		</div>
		<div
			*ngIf="insurancePolicyCarForm.controls['lastName'].errors && !insurancePolicyCarForm.controls['lastName'].pristine"
			class="invalid-feedback col-5 offset-4">

			<div
				*ngIf="insurancePolicyCarForm.controls['lastName'].errors.required">Morate
				uneti prezime.</div>
			<div
				*ngIf="insurancePolicyCarForm.controls['lastName'].errors.minlength">Prekratko
				prezime.</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="jmbg" class="col-4">Matični broj vlasnika
			automobila:</label>
		<div class="col-5">
			<input id="jmbg" type="text" class="form-control"
				formControlName="jmbg"
				[ngClass]="{'is-invalid':insurancePolicyCarForm.controls['jmbg'].errors && !insurancePolicyCarForm.controls['jmbg'].pristine}">

		</div>
		<div
			*ngIf="insurancePolicyCarForm.controls['jmbg'].errors && !insurancePolicyCarForm.controls['jmbg'].pristine"
			class="invalid-feedback col-5 offset-4">

			<div *ngIf="insurancePolicyCarForm.controls['jmbg'].errors.required">Morate
				uneti jedinstveni matični broj.</div>
			<div *ngIf="insurancePolicyCarForm.controls['jmbg'].errors.minlength">Jedinstveni
				matični broj sadrži 13 cifara.</div>
			<div *ngIf="insurancePolicyCarForm.controls['jmbg'].errors.maxlength">Jedinstveni
				matični broj sadrži 13 cifara.</div>
		</div>
	</div>

	<div class="row">
		<div class="col-9 ">
			<div class="pull-right button button-potvrdi">
				<button
					[disabled]="!insurancePolicyCarForm.valid || !paket_selected"
					class="btn btn-default" type="submit">Potvrdi</button>
			</div>
			<div class="pull-right button">
				<button class="btn btn-default" (click)="closeForm()">Zatvori</button>
			</div>
			<div class="pull-right button" [hidden]="!current">
				<button class="btn btn-default" (click)="set(null)">Otkažite
					putno osiguranje</button>
			</div>
		</div>
	</div>

	<div class="row price" *ngIf="price">
		<div class="col-12 col-popusti">
			<table class="table">
				<thead class="">
					<tr>
						<th></th>
						<th></th>
						<th>Osnovna cena iznosi</th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngIf="price">
					<tr>
						<td></td>
						<td></td>
						<td>{{price.basePrice}}</td>
					</tr>
					</ng-container>
				</tbody>
				<thead class="">
					<tr>
						<th>Popust</th>
						<th>% od osnovne cene</th>
						<th>Iznos u popusta dinarima</th>

					</tr>
				</thead>
				<tbody>
					<ng-container *ngIf="(price && price.discounts.length == 0)">
					<tr>
						<td></td>
						<td></td>
						<td> <span
							*ngIf="(price && price.discounts.length == 0)">Trenutno
								nije ostvaren ni jedan popust ! </span></td>
					</tr>
					</ng-container>
					<ng-container *ngIf="(price && price.discounts.length > 0)">
					<tr *ngFor="let d of price.discounts">
						<td>{{d.discountName}}</td>
						<td>{{d.percent}}%</td>
						<td>{{d.amount}}</td>
					</tr>
					</ng-container>

				</tbody>

				<thead class="">
					<tr>
						<th></th>
						<th></th>
						<th>Konačna cena iznosi</th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngIf="price">
					<tr>
						<td></td>
						<td></td>
						<td>{{price.finalPrice}}</td>
					</tr>
					</ng-container>
				</tbody>
			</table>
		</div>
	</div>

</form>


