<section>
	<div class="putnik-form-title">Podaci o putniku</div>

	<form [formGroup]="insurancePolicyPerson"
		(ngSubmit)="onSubmit(insurancePolicyPerson)">

		<div class="form-group row">
			<label for="firstName" class="col-4">Ime:</label>
			<div class="col-5">
				<input id="firstName" type="text" class="form-control"
					formControlName="firstName"
					[ngClass]="{'is-invalid':insurancePolicyPerson.controls['firstName'].errors && !insurancePolicyPerson.controls['firstName'].pristine}">
			</div>
			<div
				*ngIf="insurancePolicyPerson.controls['firstName'].errors && !insurancePolicyPerson.controls['firstName'].pristine"
				class="col-5 offset-4 invalid-feedback">

				<div
					*ngIf="insurancePolicyPerson.controls['firstName'].errors.required">Morate
					uneti ime.</div>
				<div
					*ngIf="insurancePolicyPerson.controls['firstName'].errors.minlength">Prekratko
					ime.</div>
			</div>
		</div>

		<div class="form-group row">
			<label for="lastName" class="col-4">Prezime:</label>
			<div class="col-5">
				<input id="lastName" type="text" class="form-control"
					formControlName="lastName"
					[ngClass]="{'is-invalid':insurancePolicyPerson.controls['lastName'].errors && !insurancePolicyPerson.controls['lastName'].pristine}">
			</div>
			<div
				*ngIf="insurancePolicyPerson.controls['lastName'].errors && !insurancePolicyPerson.controls['lastName'].pristine"
				class="col-5 offset-4 invalid-feedback">

				<div
					*ngIf="insurancePolicyPerson.controls['lastName'].errors.required">Morate
					uneti prezime.</div>
				<div
					*ngIf="insurancePolicyPerson.controls['lastName'].errors.minlength">Prekratko
					prezime.</div>
			</div>
		</div>
		<div class="form-group row"
			*ngIf="!contractorExists || (currentPerson != null && currentPerson.contractor)">
			<label for="contractor" class="col-4">Ugovarač:</label>
			<div class="col-5">
				<label class="radio-inline radio-button"> <input
					type="radio" value="true" name="contractor" checked
					formControlName="contractor">Da
				</label> <label class="radio-inline radio-button"><input
					type="radio" name="contractor" value="false"
					formControlName="contractor">Ne</label>
			</div>
		</div>

		<div
			*ngIf="insurancePolicyPerson.controls['contractor'].value == 'true' && (!contractorExists || (currentPerson != null && currentPerson.contractor))"
			class="form-group row">
			<label for="email" class="col-4">Email ugovarača:</label>
			<div class="col-5">
				<input id="email" type="email" class="form-control"
					formControlName="email" />
			</div>
			
			<div
				*ngIf="insurancePolicyPerson.controls['email'].errors && !insurancePolicyPerson.controls['email'].pristine"
				class="col-5 offset-4 invalid-feedback">

				<div *ngIf="insurancePolicyPerson.controls['email'].errors.required">Morate
					uneti email ugovarača polise.</div>
			</div>				
		</div>

		<div class="form-group row">
			<label for="jmbg" class="col-4">Jmbg:</label>
			<div class="col-5">
				<input id="jmbg" type="text" class="form-control"
					formControlName="jmbg"
					[ngClass]="{'is-invalid':insurancePolicyPerson.controls['jmbg'].errors && !insurancePolicyPerson.controls['jmbg'].pristine || jmbgExists}">
			</div>
			<div
				*ngIf="insurancePolicyPerson.controls['jmbg'].errors && !insurancePolicyPerson.controls['jmbg'].pristine"
				class="col-5 offset-4 invalid-feedback">

				<div *ngIf="insurancePolicyPerson.controls['jmbg'].errors.required">Morate
					uneti jedinstveni matični broj.</div>
				<div *ngIf="insurancePolicyPerson.controls['jmbg'].errors.minlength">Jedinstveni
					matični broj sadrži 13 cifara.</div>
				<div *ngIf="insurancePolicyPerson.controls['jmbg'].errors.maxlength">Jedinstveni
					matični broj sadrži 13 cifara.</div>
			</div>
			<div class="col-5 offset-4 invalid-feedback"
				*ngIf="jmbgExists && !insurancePolicyPerson.controls['jmbg'].pristine">Korisnik
				sa unetim matičnim brojem već postoji.</div>
		</div>

		<div class="form-group row">
			<label for="passportNumber" class="col-4">Broj pasoša:</label>
			<div class="col-5">
				<input id="passportNumber" type="text" class="form-control"
					formControlName="passportNumber"
					[ngClass]="{'is-invalid':insurancePolicyPerson.controls['passportNumber'].errors && !insurancePolicyPerson.controls['passportNumber'].pristine}">
			</div>
			<div
				*ngIf="insurancePolicyPerson.controls['passportNumber'].errors && !insurancePolicyPerson.controls['passportNumber'].pristine"
				class="col-5 offset-4 invalid-feedback">

				<div *ngIf="insurancePolicyPerson.controls['passportNumber'].errors.required">Morate
					uneti broj pasoša.</div>
			</div>			
		</div>

		<div class="form-group row">
			<label for="address" class="col-4">Adresa:</label>
			<div class="col-5">
				<input id="address" type="text" class="form-control"
					formControlName="address"
					[ngClass]="{'is-invalid':insurancePolicyPerson.controls['address'].errors && !insurancePolicyPerson.controls['address'].pristine}">
			</div>
			<div
				*ngIf="insurancePolicyPerson.controls['address'].errors && !insurancePolicyPerson.controls['address'].pristine"
				class="col-5 offset-4 invalid-feedback">

				<div
					*ngIf="insurancePolicyPerson.controls['address'].errors.required">Morate
					uneti adresu stanovanja.</div>
			</div>
		</div>

		<div class="form-group row">
			<label for="phone" class="col-4">Telefon:</label>
			<div class="col-5">
				<input id="phone" type="text" class="form-control"
					formControlName="phone"
					[ngClass]="{'is-invalid':insurancePolicyPerson.controls['phone'].errors && !insurancePolicyPerson.controls['phone'].pristine}">
			</div>
			<div
				*ngIf="insurancePolicyPerson.controls['phone'].errors && !insurancePolicyPerson.controls['phone'].pristine"
				class="col-5 offset-4 invalid-feedback">

				<div *ngIf="insurancePolicyPerson.controls['phone'].errors.required">Morate
					uneti broj telefona.</div>
			</div>
		</div>
		<div class="row">
			<div class="col-9">
				<div class="floatRight button">
					<button class="btn fa fa-check " type="submit"
						[disabled]="!insurancePolicyPerson.valid || jmbgExists"></button>
				</div>
				<div class="floatRight button">
					<button class="btn fa fa-close" (click)="reset()" type="button"></button>
				</div>
			</div>
		</div>
	</form>

</section>