<div class="form-title">Osiguranje automobila</div>

<form [formGroup]="insurancePolicyHomeForm"
	(ngSubmit)="set(insurancePolicyHomeForm.value)">
	<div class="form-group row">
		<label for="duration" class="col-3">Trajanje osiguranja:</label>
		<div class="col-7">
			<input id="duration" type="text" class="form-control"
				formControlName="duration">
		</div>
		<div
			*ngIf="insurancePolicyHomeForm.controls['duration'].errors && !insurancePolicyHomeForm.controls['duration'].pristine"
			class="alert alert-danger">

			<div
				*ngIf="insurancePolicyHomeForm.controls['duration'].errors.required">Morate
				uneti dužinu trajanja osiguranja.</div>
			<div
				*ngIf="insurancePolicyHomeForm.controls['duration'].errors.pattern">Morate
				uneti ceo broj veći od 0.</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="size" class="col-3">Povrsina stana:</label>
		<div class="col-7">
			<select id="size" class="form-control" formControlName="size">
				<option value="">Izaberite kvadraturu</option>
				<option value="1">Do 50 m2</option>
				<option value="2">Izmedju 50m2 i 100m2</option>
				<option value="3">Preko 100m2</option>
			</select>
		</div>
		<div
			*ngIf="insurancePolicyHomeForm.controls['size'].errors && !insurancePolicyHomeForm.controls['size'].pristine"
			class="alert alert-danger">

			<div *ngIf="insurancePolicyHomeForm.controls['size'].errors.required">Morate
				izabrati velicinu stana.</div>
		</div>
	</div>


	<div class="form-group row">
		<label for="age" class="col-3">Starost stana:</label>
		<div class="col-7">
			<select id="age" class="form-control" formControlName="age">
				<option value="">Izaberite starost stana</option>
				<option value="1">Do 5 godina</option>
				<option value="2">Izmedju 5 i 15 godina</option>
				<option value="3">Preko 15 godina</option>
			</select>
		</div>
		<div
			*ngIf="insurancePolicyHomeForm.controls['age'].errors && !insurancePolicyHomeForm.controls['age'].pristine"
			class="alert alert-danger">

			<div *ngIf="insurancePolicyHomeForm.controls['age'].errors.required">Morate
				izabrati starost stana.</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="value" class="col-3">Procenjena vrednost stana:</label>
		<div class="col-7">
			<select id="value" class="form-control" formControlName="value">
				<option value="">Izaberite procenjenu vrednost stana</option>
				<option value="1">Do 100.000,00 eura</option>
				<option value="2">Izmedju 100.000,00 i 200.00,00 eura</option>
				<option value="3">Preko 200.00,00 eura</option>
			</select>
		</div>
		<div
			*ngIf="insurancePolicyHomeForm.controls['value'].errors && !insurancePolicyHomeForm.controls['value'].pristine"
			class="alert alert-danger">

			<div
				*ngIf="insurancePolicyHomeForm.controls['value'].errors.required">Morate
				izabrati procenjenu vrednost stana.</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="risk" class="col-3">Stan se osigurava od:</label>
		<div class="col-7">
			<select id="risk" class="form-control" formControlName="risk">
				<option value="">Izaberite od čega se stan osigurava</option>
				<option value="1">Krađe</option>
				<option value="2">Požara</option>
				<option value="3">Poplave</option>
			</select>
		</div>
		<div
			*ngIf="insurancePolicyHomeForm.controls['risk'].errors && !insurancePolicyHomeForm.controls['risk'].pristine"
			class="alert alert-danger">

			<div *ngIf="insurancePolicyHomeForm.controls['risk'].errors.required">Morate
				izabrati od čega osiguravate stan.</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="address" class="col-3">Adresa:</label>
		<div class="col-7">
			<input id="address" type="text" class="form-control"
				formControlName="address">
		</div>
		<div
			*ngIf="insurancePolicyHomeForm.controls['address'].errors && !insurancePolicyHomeForm.controls['address'].pristine"
			class="alert alert-danger">

			<div
				*ngIf="insurancePolicyHomeForm.controls['address'].errors.required">Morate
				uneti adresu stana</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="firstName" class="col-3">Ime vlasnika:</label>
		<div class="col-7">
			<input id="firstName" type="text" class="form-control"
				formControlName="firstName">
		</div>
		<div
			*ngIf="insurancePolicyHomeForm.controls['firstName'].errors && !insurancePolicyHomeForm.controls['firstName'].pristine"
			class="alert alert-danger">

			<div
				*ngIf="insurancePolicyHomeForm.controls['firstName'].errors.required">Morate
				uneti ime.</div>
			<div
				*ngIf="insurancePolicyHomeForm.controls['firstName'].errors.minlength">Prekratko
				ime.</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="lastName" class="col-3">Prezime vlasnika:</label>
		<div class="col-7">
			<input id="lastName" type="text" class="form-control"
				formControlName="lastName">
		</div>
		<div
			*ngIf="insurancePolicyHomeForm.controls['lastName'].errors && !insurancePolicyHomeForm.controls['lastName'].pristine"
			class="alert alert-danger">

			<div
				*ngIf="insurancePolicyHomeForm.controls['lastName'].errors.required">Morate
				uneti prezime.</div>
			<div
				*ngIf="insurancePolicyHomeForm.controls['lastName'].errors.minlength">Prekratko
				prezime.</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="jmbg" class="col-3">Matični broj vlasnika stana:</label>
		<div class="col-7">
			<input id="jmbg" type="text" class="form-control"
				formControlName="jmbg">
		</div>
		<div
			*ngIf="insurancePolicyHomeForm.controls['jmbg'].errors && !insurancePolicyHomeForm.controls['jmbg'].pristine"
			class="alert alert-danger">

			<div *ngIf="insurancePolicyHomeForm.controls['jmbg'].errors.required">Morate
				uneti jedinstveni matični broj.</div>
			<div
				*ngIf="insurancePolicyHomeForm.controls['jmbg'].errors.minlength">Jedinstveni
				matični broj sadrži 13 cifara.</div>
			<div
				*ngIf="insurancePolicyHomeForm.controls['jmbg'].errors.maxlength">Jedinstveni
				matični broj sadrži 13 cifara.</div>
		</div>
	</div>
	<div class="row">
		<div class="col-10 ">
			<div class="pull-right button">
				<button [disabled]="!insurancePolicyHomeForm.valid"
					class="btn btn-default" type="submit">Potvrdi</button>
			</div>
			<div class="pull-right button">
				<button class="btn btn-default" (click)="closeForm()">Zatvori</button>
			</div>
			<div class="pull-right button" [hidden]="!current">
				<button class="btn btn-default" (click)="set(null)">Otkažite
					putno osiguranje</button>
			</div>
		</div>
	</div>



</form>

<div class="price" *ngIf="price">
	<div *ngIf="price">
		Trenutna cena osiguranja iznosi : <span class="price-number">{{price}}</span>
	</div>
</div>