.putnik-info {
	font-size: 26px;
	padding-top: 30px;
	padding-bottom: 10px;
	font-weight:600;
	border-bottom:1px solid gray;
}

th{
	border:none !important;
}

.btn{
	margin-right:10px;
	float:right;
}

.row-person{
	
	padding-top:20px !important;
}