<form class="form-horizontal" [formGroup]="insurancePolicy"
	(ngSubmit)="onSubmit(insurancePolicy)">

	<div class="form-group">
		<label for="startDate" class="col-xs-1">Od:</label>
		<div class="col-xs-5">
			<input id="startDate" type="date" class="form-control"
				formControlName="startDate">
		</div>
	</div>

	<div class="form-group">
		<label for="startDate" class="col-xs-1">Do:</label>
		<div class="col-xs-5">
			<input id="endDate" type="date" class="form-control"
				formControlName="endDate">
		</div>
	</div>

	<div class="form-group">
		<label for="duration" class="col-xs-4">Trajanje(u danima):</label>
		<div class="col-xs-4">
			<input id="duration" type="text" class="form-control"
				formControlName="duration">
		</div>
	</div>
	<div class="form-group">
		<label for="duration" class="col-xs-4">Region:</label>
		<div class="col-xs-4">
			<select id="region" class="form-control" formControlName="region">
				<option *ngFor="let region of regions" value="{{region.id}}">{{region.name}}</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<button type="button" (click)="showPersonForm()"
			*ngIf="addPersonButton" class="btn btn-default">Dodaj osobu</button>
	</div>
	<app-insurance-policy-person-form *ngIf="personForm"></app-insurance-policy-person-form>
	<div class="floatRight">
		<button type="submit" class="btn btn-default">Kupi polisu</button>
	</div>
</form>