<form class="form-horizontal" [formGroup]="insurancePolicy"
	(ngSubmit)="onSubmit(insurancePolicy)">

	<div class="form-group">
		<label for="startDate" class="col-xs-1">Od:</label>
		<div class="col-xs-5">
			<input id="startDate" type="date" class="form-control"
				formControlName="startDate">
		</div>
	</div>

	<div class="form-group">
		<label for="startDate" class="col-xs-1">Do:</label>
		<div class="col-xs-5">
			<input id="endDate" type="date" class="form-control"
				formControlName="endDate">
		</div>
	</div>

	<div class="form-group">
		<label for="duration" class="col-xs-4">Trajanje(u danima):</label>
		<div class="col-xs-4">
			<input id="duration" type="text" class="form-control"
				formControlName="duration">
		</div>
	</div>
	<div class="form-group">
		<label for="duration" class="col-xs-4">Region:</label>
		<div class="col-xs-4">
			<select id="region" class="form-control" formControlName="region">
				<option *ngFor="let region of regions" value="{{region.id}}">{{region.name}}</option>
			</select>
		</div>
	</div>


	<div class="form-group">
		<label for="amount" class="col-xs-4">Iznos do kog je osiguran:</label>
		<div class="col-xs-4">
			<select id="amount" class="form-control" formControlName="amount">
				<option value="">Izaberite iznos</option>
				<option value="1">100.000,00</option>
				<option value="2">200.000,00</option>
				<option value="3">300.000,00</option>
				<option value="4">400.000,00</option>
			</select>
		</div>
		<div
			*ngIf="insurancePolicy.controls['amount'].errors && !insurancePolicy.controls['amount'].pristine"
			class="alert alert-danger">

			<div *ngIf="insurancePolicy.controls['amount'].errors.required">Morate
				izabrati iznos do kog je korisnik polise osiguran.</div>
		</div>
	</div>

	<div class="form-group">
		<label for="sport" class="col-xs-4">Sport kojim se korisnik
			namerava baviti:</label>
		<div class="col-xs-4">
			<select id="sport" class="form-control" formControlName="sport">
				<option value="">Izaberite sport</option>
				<option *ngFor="let s of sports" value="{{s.id}}">{{s.name}}</option>

			</select>
		</div>
		<div
			*ngIf="insurancePolicy.controls['sport'].errors && !insurancePolicy.controls['sport'].pristine"
			class="alert alert-danger">

			<div *ngIf="insurancePolicy.controls['sport'].errors.required">Morate
				izabrati sport kojim korisnik namerava da se bavi.</div>
		</div>
	</div>


	<div class="form-group">
		<button type="button" (click)="toggleFormPerson(true)"
			*ngIf="addPersonButton" class="btn btn-default">Dodaj osobu</button>
	</div>

	<app-insurance-policy-person-form [hidden]="!formPerson"
		[persons]="persons" [lista]="lista" [current]="currentPerson"
		(toggleFormPerson)="toggleFormPerson($event)"></app-insurance-policy-person-form>
	<div class="floatRight">
		<button type="submit"
			[disabled]="!insurancePolicy.valid || !checkIfContractorExists()"
			class="btn btn-default">Kupi polisu</button>
	</div>


</form>