<div class="row">

	<div class="col-6">
		<app-insurance-policy-person-form 
			[current]="currentPerson"
			[persons]="persons"
			(onFormSubmit)="onSubmit($event)"
			(resetCurrent)="resetCurrent($event)"
			></app-insurance-policy-person-form> 
	</div>
	<div class="col-6">
		<app-insurance-policy-person-list [persons]="persons"
			(selectForUpdate)="setForUpdate($event)"
			(deletePerson)="delete($event)"></app-insurance-policy-person-list>
	</div>

	<div class="col-3">
		<button class="btn" (click)="changeTab('1')" >Nazad</button>
	</div>
	<div class="col-2 offset-7">
		<button class="btn" (click)="changeTab('1')" [disabled]="!isNumberOfPersonsByAgeCorrect() || !isContractorAdded()">Dalje</button>

	</div>
</div>