<div class="row">

	<div class="col-12">
		<app-insurance-policy-person-form 
			[current]="currentPerson"
			[persons]="persons"
			(onFormSubmit)="onSubmit($event)"
			(resetCurrent)="resetCurrent($event)"
			></app-insurance-policy-person-form> 
	</div>
	<div class="col-12">
		<app-insurance-policy-person-list [persons]="persons"
			(selectForUpdate)="setForUpdate($event)"
			(deletePerson)="delete($event)"></app-insurance-policy-person-list>
	</div>

		<button class="btn fixed-left" (click)="changeTab('1')" >Nazad</button>
		<button class="btn fixed-right" (click)="changeTab('3')" [disabled]="!isNumberOfPersonsByAgeCorrect() || !isContractorAdded()">Dalje</button>

</div>