
<p>Total price: {{totalPrice}}</p>
<form novalidate [formGroup]="pinForm" (ngSubmit)="submitPin()">
	<div class="form-group row">
		<label class="col-4">Ubacite karticu</label>
		<div class="col-5">
			<select id="cardHolder" class="form-control"
				formControlName="cardHolder" placeholder="kredita kartica" required>
				<option *ngFor="let bankMmeber of bankMembers"
					value="{{bankMmeber.id}}">{{bankMmeber.name}}</option>
			</select>
		</div>
	</div>
	<div class="form-group row" *ngIf='enteredCard'>
		<label class="col-4">Pin</label>
		<div class="col-md-5">
			<input class="form-control" type="password" placeholder="Unesite pin"
				maxlength="4" minlength="4" required formControlName="pin">
		</div>
	</div>

	<div class="row">
		<div class="col-3 offset-4">
			<div *ngIf="processing" class="loader"
				style="display: inline-block;"></div>

			<span *ngIf="feedback === 'done'" class="valid-feedback"
				style="display: inline-block;"><i class="fa fa-check"
				aria-hidden="true">Uspešno ! </i></span> <span *ngIf="feedback === 'error'"
				class="invalid-feedback"><i class="fa fa-times"
				aria-hidden="true"></i>Došlo je do greške, pokušajte ponovo.</span> <span
				*ngIf="feedback === 'wrong'" class="invalid-feedback"><i
				class="fa fa-times" aria-hidden="true"></i>Pogrešan pin ! Pokušajte
				ponovo.</span> <span *ngIf="feedback === 'block'"
				class="invalid-feedback t"><i class="fa fa-ban"
				aria-hidden="true"></i> Pogrešan pin je unet treći put ! Vaša
				kartica je blokirana.</span>

		</div>
		<div class="col-2 ">
			<button type="submit" *ngIf="feedback !=='done'"
				class="btn float-right" [disabled]="!pinForm.valid">Ok</button>
			<button *ngIf="feedback=='done'" type="button" (click)="redirectToHome()"
				class="btn float-right">Povratak na početnu stranu</button>

		</div>
	</div>
	<div class="row"></div>

</form>
