<div class="leftMargin rightMargin borderDiv">
    <div class="row">
        <div class="col-sm-7">
            <h4>{{ title }}</h4>
        </div>
        <div class="col-sm-1">
            <label for="categoryForFactors"> Category</label>
        </div>
        
        <div class="form-group col-sm-4">
            <select [(ngModel)]="categoryForFactors" (change)="findByCategory()" id="categoryForFactors" class="form-control validate">
                <option [ngValue]="0" [selected]="1===1">Sve</option>
                <option *ngFor="let c of this.factorComponent.categories" [ngValue]="c.id">{{c.name}}</option>
            </select>
        </div>
    </div>
    <table class="table table-hover table-bordered appTable">
    	<thead>
            <tr>
                <th class="idColumn" >#</th>
                <th >Name</th>
                <th >Component</th>
                <th class="actionsCol">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let factor of this.factorComponent.factors">
        	    <td class="idColumn">{{factor.id}}</td>
                <td>{{factor.name}}</td>
                <td>{{factor.categoryName}}</td>
     	        <td class="actionsCol">
                    <a class="btn fa fa-pencil" (click)="this.factorComponent.get(factor)" title="Details"></a>
    	           	<button class="btn fa fa-times" type="button" (click)="this.factorComponent.delete(factor)" title="Delete"></button>
    			</td>
            </tr>
       </tbody>
    </table>
</div>


