<section>
	<h2>Podaci o putniku</h2>

	<form [formGroup]="insurancePolicyPerson"
		(ngSubmit)="onSubmit(insurancePolicyPerson)">

		<div class="form-group">
			<label for="firstName" class="col-12">Ime:</label>
			<div class="col-12">
				<input id="firstName" type="text" class="form-control"
					formControlName="firstName">
			</div>
			<div
				*ngIf="insurancePolicyPerson.controls['firstName'].errors && !insurancePolicyPerson.controls['firstName'].pristine"
				class="alert alert-danger">

				<div
					*ngIf="insurancePolicyPerson.controls['firstName'].errors.required">Morate
					uneti ime.</div>
				<div
					*ngIf="insurancePolicyPerson.controls['firstName'].errors.minlength">Prekratko
					ime.</div>
			</div>
		</div>

		<div class="form-group">
			<label for="lastName" class="col-12">Prezime:</label>
			<div class="col-12">
				<input id="lastName" type="text" class="form-control"
					formControlName="lastName">
			</div>
			<div
				*ngIf="insurancePolicyPerson.controls['lastName'].errors && !insurancePolicyPerson.controls['lastName'].pristine"
				class="alert alert-danger">

				<div
					*ngIf="insurancePolicyPerson.controls['lastName'].errors.required">Morate
					uneti prezime.</div>
				<div
					*ngIf="insurancePolicyPerson.controls['lastName'].errors.minlength">Prekratko
					prezime.</div>
			</div>
		</div>
		<div class="form-group" *ngIf="!contractorAdded">
			<label for="contractor" class="col-12">Ugovarač:</label>
			<div class="col-12">
				<label class="radio-inline radio-button">
				<input type="radio" value="true" name="contractor" checked formControlName="contractor">Da</label>
				 <label class="radio-inline radio-button"><input
				type="radio" name="contractor" value="false" formControlName="contractor">Ne</label>
			</div>
		</div>

		<div
			*ngIf="insurancePolicyPerson.controls['contractor'].value == 'true' && !contractorAdded"
			class="form-group">
			<label for="email" class="col-12">Email ugovarača:</label>
			<div class="col-12">
				<input id="email" type="email" class="form-control" formControlName="email"/>
			</div>
		</div>

		<div class="form-group">
			<label for="jmbg" class="col-12">Jmbg:</label>
			<div class="col-12">
				<input id="jmbg" type="text" class="form-control"
					formControlName="jmbg">
			</div>
			<div
				*ngIf="insurancePolicyPerson.controls['jmbg'].errors && !insurancePolicyPerson.controls['jmbg'].pristine"
				class="alert alert-danger">

				<div *ngIf="insurancePolicyPerson.controls['jmbg'].errors.required">Morate
					uneti jedinstveni matični broj.</div>
				<div *ngIf="insurancePolicyPerson.controls['jmbg'].errors.minlength">Jedinstveni
					matični broj sadrži 13 cifara.</div>
				<div *ngIf="insurancePolicyPerson.controls['jmbg'].errors.maxlength">Jedinstveni
					matični broj sadrži 13 cifara.</div>
			</div>
		</div>

		<div class="form-group">
			<label for="passportNumber" class="col-12">Broj pasoÅ¡a:</label>
			<div class="col-12">
				<input id="passportNumber" type="text" class="form-control"
					formControlName="passportNumber">
			</div>
		</div>

		<div class="form-group">
			<label for="address" class="col-12">Adresa:</label>
			<div class="col-12">
				<input id="address" type="text" class="form-control"
					formControlName="address">
			</div>
			<div
				*ngIf="insurancePolicyPerson.controls['address'].errors && !insurancePolicyPerson.controls['address'].pristine"
				class="alert alert-danger">

				<div
					*ngIf="insurancePolicyPerson.controls['address'].errors.required">Morate
					uneti adresu.</div>
			</div>
		</div>

		<div class="form-group">
			<label for="phone" class="col-12">Telefon:</label>
			<div class="col-12">
				<input id="phone" type="text" class="form-control"
					formControlName="phone">
			</div>
			<div
				*ngIf="insurancePolicyPerson.controls['phone'].errors && !insurancePolicyPerson.controls['phone'].pristine"
				class="alert alert-danger">

				<div *ngIf="insurancePolicyPerson.controls['phone'].errors.required">Morate
					uneti broj telefona.</div>
			</div>
		</div>

		<div class="form-group">
			<label for="age" class="col-12">Starost:</label>
			<div class="col-12">
				<select id="age" class="form-control" formControlName="age">
					<option value="">Izaberite starost</option>
					<option *ngFor="let a of ages" value="{{a.id}}">{{a.name}}</option>
				</select>
			</div>
			<div
				*ngIf="insurancePolicyPerson.controls['age'].errors && !insurancePolicyPerson.controls['age'].pristine"
				class="alert alert-danger">

				<div *ngIf="insurancePolicyPerson.controls['age'].errors.required">Morate
					izabrati starost korisnika polise.</div>
			</div>
		</div>

		<div class="floatRight button">
			<button class="btn fa fa-check " type="submit"
				[disabled]="!insurancePolicyPerson.valid"></button>
		</div> <div class="floatRight button">
			<button class="btn fa fa-close " type="button"
				(click)="closePersonForm()"></button>
		</div>
	</form>

</section>