<div class="row">

	<div class="col-12 checkout-col">
		<div class="section-title">Putnici</div>
		<div class="">Cena: {{insurancePrice}}</div>
	</div>


	<div class="col-12 checkout-col">
		<div class="section-title">Putno osiguranje</div>
		<div class="">Cena: {{insurancePrice}}</div>
	</div>

	<div class="col-12 checkout-col">
		<div class="section-title">Osigaranje kuće</div>
		<div class="">Cena: {{insurancePrice}}</div>
	</div>


	<div class="col-12 checkout-col">
		<div class="section-title">Osigaranje vozila</div>
		<div class="">Cena: {{insurancePrice}}</div>
	</div>

	<button class="btn fixed-left" (click)="changeTab('3')">Nazad</button>
	<button class="btn fixed-right" (click)="changeTab('3')">Nastavi
		na plaćanje</button>

</div>