<div class="row" *ngIf="checkoutVar">

	<div class="col-12 checkout-col">
		<div class="section-title">Putnici</div>


		<div class="row row-person-head">
			<div class="col-2">
				<strong>Ime</strong>
			</div>
			<div class="col-2">
				<strong>Prezime</strong>
			</div>
			<div class="col-2">
				<strong>JMBG</strong>
			</div>
			<div class="col-2">
				<strong>Broj pasoÅ¡a</strong>
			</div>
			<div class="col-2">
				<strong>Telefon</strong>
			</div>
			<div class="col-2">
				<strong>Email</strong>
			</div>
		</div>
		<div *ngFor="let p of checkoutVar.persons" class="row row-person">
			<div class="col-2">{{p.firstName}}</div>
			<div class="col-2">{{p.lastName}}</div>
			<div class="col-2">{{p.personNo}}</div>
			<div class="col-2">{{p.passportNo}}</div>
			<div class="col-2">{{p.phone}}</div>
			<div class="col-2">{{p.email}}</div>
		</div>
	</div>


	<div class="col-6">Osnovna cena osiguranja iznosi :</div>
	<div class="price-number col-3 float-right">
		<span class="float-right">{{checkoutVar.priceAndDiscountsForTravel.basePrice}}</span>
	</div>
	<div class="col-1">
		<span class="fixed-left-currency">din</span>
	</div>

	<div class="col-12">
		<div class="mini-title">Popusti</div>
	</div>
	<div class="col-12">
		<div class="border-paketi"></div>
	</div>
	<div class="col-12 col-popusti">
		<div *ngIf="checkoutVar.priceAndDiscountsForTravel && checkoutVar.priceAndDiscountsForTravel.discounts.length == 0">Nije ostvaren ni jedan popust !</div>
		<div class="row" *ngFor="let d of checkoutVar.priceAndDiscountsForTravel.discounts">
			<div class="col-3">{{d.discountName}}</div>
			<div class="col-3">{{d.percent}}%</div>
			<div class="col-3 float-right">
				<span class="float-right">{{d.amount}}</span>
			</div>
			<div class="col-1">
				<span class="fixed-left-currency">din</span>
			</div>
		</div>
	</div>
	<div class="col-12">
		<div class="border-paketi-bottom"></div>
	</div>

	<div class="col-6">Konačna cena osiguranja iznosi :</div>
	<div class="price-number col-3">
		<span class="float-right">{{checkoutVar.priceAndDiscountsForTravel.finalPrice}}</span>
	</div>
	<div class="col-1">
		<span class="fixed-left-currency">din</span>
	</div>

	<div class="col-12 checkout-col">
		<div class="section-title">Osigaranje kuće</div>
		<div class="">Cena: {{checkoutVar.priceForHome}}</div>
	</div>


	<div class="col-12 checkout-col">
		<div class="section-title">Osigaranje vozila</div>
		<div class="">Cena: {{insurancePrice}}</div>
	</div>

	<button class="btn fixed-left" (click)="changeTab('3')">Nazad</button>
	<button class="btn fixed-right" (click)="changeTab('5')">Nastavi
		na plaćanje</button>

</div>